<section class="section paddingTop60 background">
  <div class="grid alignCenter textCenter textLeftMedia">
    <div class="leftHalf orderMedia">
      <picture>
        <source media="(min-width: 200px)" srcset="{{welcome_image_about_url}}">
        <img class="polaroidImage" src="{{welcome_image_about_url}}" alt="{{welcome_image_about_description}}">
      </picture>
    </div>
    <div class="rightHalfCenter">
      <h1 class="h1">About Us</h1>
      <h2 class="h2 paddingTop30">{{section_welcome_header}}</h2>
      <p class="paddingTop30">{{section_welcome_text}}</p>
    </div>
  </div>
</section>

<section class="section paddingTop60 paddingBottom60 background">
  <div class="grid alignCenter textCenter textLeftMedia">
    <div class="leftHalfCenter">
      <h2 class="h2">{{section_food_header}}</h2>
      <p class="paddingTop30">{{section_food_text}}</p>
    </div>
    <div class="rightHalf">
      <picture>
        <source media="(min-width: 200px)" srcset="{{welcome_image_food_url}}">
        <img class="polaroidImage" src="{{welcome_image_food_url}}" alt="{{welcome_image_food_description}}">
      </picture>
    </div>
  </div>
</section>

<section class="section paddingTop60 paddingBottom40">
  <div class="grid alignCenter">
    <h2 class="h2 fullWidth textCenter paddingTop40">{{section_family_header}}</h2>
    <div class="leftHalf">
      <picture>
        <source media="(min-width: 100px)" srcset="{{family_image_1_url}}">
        <img class="galleryImage" src="{{family_image_1_url}}" alt="{{family_image_1_description}}">
      </picture>
    </div>
    <div class="rightHalf">
      <picture>
        <source media="(min-width: 200px)" srcset="{{family_image_2_url}}">
        <img class="galleryImage" src="{{family_image_2_url}}" alt="{{family_image_2_description}}">
      </picture>
    </div>
    <div class="leftHalf">
      <picture>
        <source media="(min-width: 100px)" srcset="{{family_image_3_url}}">
        <img class="galleryImage galleryPosition" src="{{family_image_3_url}}" alt="{{family_image_3_description}}">
      </picture>
    </div>
    <p class="rightHalf textCenter textLeftMedia">{{section_family_text}}</p>
  </div>
</section>
