<section class="textCenter">
  <h1 class="h1">Menu</h1>
  <div class="mobileOnly flex justifyCenter gap5">
    <img src="/img/fries.svg" alt="" role="presentation" class="w40">
    <img src="/img/shrimp.svg" alt="" role="presentation" class="w60">
    <img src="/img/beer.svg" alt="" role="presentation" class="w50">
    <img src="/img/burger.svg" alt="" role="presentation" class="w60">
    <img src="/img/soda.svg" alt="" role="presentation" class="w40">
  </div>
  <div class="flex justifyCenter bodySmall">
    Prices subject to change
  </div>
  <div class="textCenter paddingTop20 grid">
    <img src="/img/shrimp.svg" alt="" role="presentation" class="col4 row1 hideMobile">
    <img src="/img/fries.svg" alt="" role="presentation" class="col12 row2 hideMobile">
    <img src="/img/burger.svg" alt="" role="presentation" class="col3 row3 hideMobile">
    <img src="/img/bacon.svg" alt="" role="presentation" class="col11 row4 hideMobile">
    <img src="/img/bbq-tools.svg" alt="" role="presentation" class="col4 row5 hideMobile">
    <img src="/img/drumstick.svg" alt="" role="presentation" class="col12 row6 hideMobile">
    <img src="/img/cutlery.svg" alt="" role="presentation" class="col3 row7 hideMobile">
    <img src="/img/shrimp.svg" alt="" role="presentation" class="col11 row8 hideMobile">
    <img src="/img/fries.svg" alt="" role="presentation" class="col4 row9 hideMobile">
    <img src="/img/burger.svg" alt="" role="presentation" class="col12 row10 hideMobile">
    <img src="/img/bacon.svg" alt="" role="presentation" class="col3 row11 hideMobile">
    <img src="/img/bbq-tools.svg" alt="" role="presentation" class="col11 row12 hideMobile">
    {{menuSections}}
  </div>

  <h2 class="h2">Beverages</h2>
  <div class="textCenter paddingTop20 grid">
    <img src="/img/cocktail.svg" alt="" role="presentation" class="col4 row1 hideMobile">
    <img src="/img/beer.svg" alt="" role="presentation" class="col12 row2 hideMobile">
    <img src="/img/soda.svg" alt="" role="presentation" class="col3 row3 hideMobile">
    <img src="/img/cocktail.svg" alt="" role="presentation" class="col11 row4 hideMobile">
    <img src="/img/beer.svg" alt="" role="presentation" class="col4 row5 hideMobile">
    <img src="/img/soda.svg" alt="" role="presentation" class="col12 row6 hideMobile">
    {{beverageSections}}
  </div>
</section>
