@import "../css/reset.css";
@import "../css/typography.css";

body {
  font-family: "Raleway";
  font-weight: 400;
}
.headline {
  font-family: "Gentle";
}

.layout {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(12, 72px);
  justify-content: center;
  grid-template-rows: 120px max-content 300px;
}

.header {
  grid-row: 1;
}

.main {
  grid-row: 2;
}

.footer {
  grid-row: 3;
}
