@import "../css/reset.css";
@import "../css/typography.css";

:root {
  --background-color: rgb(255, 226, 190, 0.55);
  --primary: #223a41;
  --primary-color: #f16a36;
  --headerMargin: 30px;
}

body {
  color: var(--primary);
  font-family: "Raleway";
  font-weight: 400;
}

.headline {
  font-family: "Gentle";
}

.extraBold {
  font-weight: 800;
}

.h1 {
  font-family: "Gentle";
  font-size: 60px;
}

.h2 {
  font-family: "Gentle";
  font-size: 36px;
}

.h2 {
  font-family: "Gentle";
  font-size: 36px;
}

.upperCase {
  text-transform: uppercase;
}

.normal {
  font-style: normal;
}

.block {
  display: block;
}

.marginNav {
  margin-right: var(--headerMargin);
}

.marginNavOffset {
  margin-right: var(--headerMargin);
}

.landing {
  background: url("https://res.cloudinary.com/dpanbsxt4/image/upload/v1655754218/Landing_Crop_ipfwta.png");
  background-size: cover;
  margin-top: -84px; /* margin top 30px+ nav height 54px */
  min-height: 90vh;
}

.sticky {
  /* background: transparent; */
  position: sticky;
  /* top: 0; */
}

.justifyCenter {
  justify-content: center;
}

.justifyEnd {
  justify-content: flex-end;
}

.justifySpaceBetween {
  justify-content: space-between;
}

.paddingMin {
  padding-left: 20px;
  padding-right: 20px;
}

.paddingTopHeader {
  padding-top: 30px;
}

.paddingSectionSmall {
  padding: 40px 0;
}

.paddingSection {
  padding: 60px 0;
}

.paddingSectionLarge {
  padding: 120px;
}

.flex {
  display: flex;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.alignCenter {
  align-items: center;
}

.fullvW {
  width: 100vw;
}

.textCenter {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns:
    calc(50vw - 39.5rem) repeat(12, [col-start] 1fr [col-end])
    calc(50vw - 39.5rem);
  column-gap: 30px;
  row-gap: 30px;
}

.fullWidth {
  grid-column: 2 col-start / 11 col-end;
}

.leftThird {
  grid-column: 1 col-start / 4 col-end;
}

.centerThird {
  grid-column: 5 col-start / 8 col-end;
}

.rightThird {
  grid-column: 9 col-start / 12 col-end;
}

.leftHalf {
  grid-column: 1 col-start / 6 col-end;
}

.leftHalfCenter {
  grid-column: 2 col-start / 6 col-end;
}

.rightHalf {
  grid-column: 7 col-start / 12 col-end;
}

.rightHalfCenter {
  grid-column: 8 col-start / 12 col-end;
}

.background {
  background-color: var(--background-color);
}

.primary {
  color: var(--primary);
}

.primaryColor {
  color: var(--primary-color);
}

.link {
  position: relative;
  text-decoration: none;
}

.link:visited {
  color: var(--primary);
}

.link::after {
  bottom: -6px;
  background-color: var(--primary-color);
  content: "";
  height: 2px;
  left: 0;
  opacity: 0;
  position: absolute;
  width: 100%;
}

.link:hover::after,
.link:focus::after {
  opacity: 1;
}

.galleryImage {
  width: 582px;
  height: 398px;
  object-fit: cover;
}

.galleryPosition {
  object-position: 0 -4em;
}

.polaroidImage {
  width: 582px;
}

.logoIcon {
  width: 90px;
}

.marginIcon {
  margin-top: -40px;
}

.smallGap {
  column-gap: 5px;
}
